body{
    margin-top: 50px;
    background: url('../img/background.jpg') no-repeat;
    background-size: 100%;
    color: white;
}

#titre{
    text-align: center;
}

#meteo{
    margin-top: 30px;
}

#zip{
    position: relative;
}

#zip_code{
    width: 100%;
    padding-right: 60px;
}

#geoloc{
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}



